*.egg-info
doc/html
doc/doctrees
dist
tmp

# All Makefiles unless explicitly excluded
Makefile
config.log
config.status

# Patches
*.patch

# Obvious parts of the lib tree
lib/MV2.py
lib/Properties/
lib/cdat_info.py
lib/cdat_lite/scripts/cddump.py
lib/cdat_lite/scripts/cdscan.py
lib/cdat_lite/scripts/convertcdms.py
lib/cdms2/
lib/cdtime.so
lib/cdutil/
lib/genutil/
lib/ncml/
lib/regrid2/
lib/unidata/
lib/xmgrace/
lib/AutoAPI/

# Defaults
TAGS
.ant-targets-build.xml
*~
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*#*
*.md5
semantic.cache*
generated/
/build
/dist
/docs-generated
/lib/fetched
/.cobertura.ser
/eclipse
/backup
